<div class="example-container">
	<form class="example-form">
		<mat-form-field class="example-full-width">
			<input matInput placeholder="用户名" value=""  [(ngModel)]="user.username" name="username">
		</mat-form-field>
		<mat-form-field class="example-full-width">
			<input matInput placeholder="密码" value="" type="password" [(ngModel)]="user.password" name="password">
		</mat-form-field>

		<div>
			<button mat-raised-button style="background:rgb(0, 183, 255)"  (click)="do_login()">登录</button>
		</div>
	</form>
</div>