<section class="container">
  <p>account book</p>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="spend" [(ngModel)]="account.spend" name="spend">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="description" [(ngModel)]="account.descripion" name="description">
    </mat-form-field>
    <div class="button-row">
      <button mat-raised-button color="primary" (click)="do_submit()">提交</button>
    </div>
  </form>
</section>
